$new-badge--background: #E41414;
$new-badge--color: white;

$update-badge--background: #32323C;
$update-badge--color: #ECECFF;

$text-color: #0F0F0F;
$link-color: #2172EB;

$top-margin_desktop: 36px;
$top-margin_mobile: 24px;

$case-height--desktop: 190px;
$case-height--mobile: 150px;

$case-height-solved: 90px;
