$new-badge--background: #E41414;
$new-badge--color: white;

$update-badge--background: #32323C;
$update-badge--color: #ECECFF;

$text-color: #0F0F0F;

$card-height--desktop: 190px;
$card-height--mobile: 150px;
